Source/Service/Service References/ZiZhuJYLocationService/LocationService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://zizhujy.com/Services/LocationService.svc?xsd=xsd0" namespace="http://ZiZhuJY.Services.Location" />
  <xs:complexType name="ArrayOfKeyValueOfIdentifiedDeviceGeoCoordinateBb5ONJom">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfIdentifiedDeviceGeoCoordinateBb5ONJom">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://ZiZhuJY.Services.Location" name="Key" nillable="true" type="q1:IdentifiedDevice" />
            <xs:element xmlns:q2="http://ZiZhuJY.Services.Location" name="Value" nillable="true" type="q2:GeoCoordinate" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfIdentifiedDeviceGeoCoordinateBb5ONJom" nillable="true" type="tns:ArrayOfKeyValueOfIdentifiedDeviceGeoCoordinateBb5ONJom" />
  <xs:complexType name="ArrayOfKeyValueOfDeviceGeoCoordinateBb5ONJom">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfDeviceGeoCoordinateBb5ONJom">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q3="http://ZiZhuJY.Services.Location" name="Key" nillable="true" type="q3:Device" />
            <xs:element xmlns:q4="http://ZiZhuJY.Services.Location" name="Value" nillable="true" type="q4:GeoCoordinate" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfDeviceGeoCoordinateBb5ONJom" nillable="true" type="tns:ArrayOfKeyValueOfDeviceGeoCoordinateBb5ONJom" />
</xs:schema>